# Compiled
*.elc

# tmp files
.cask
*~
*.~undo-tree
/elpa/
/.cache/
/.lsp-session-v1
/.log/
/request/
/url/
/auto-save-list/
/transient/
/eaf/
.dap-breakpoints
bookmarks
custom.el
projectile-bookmarks.eld
projectile.cache
recentf
.mc-lists.el
.lsp-eslint-choices
.org-id-locations
org-manual.css
org-roam.db
tramp